{% extends "layout.html" %}
{% block content %}
<h3><p class="badge badge-dark">Posts by {{user.username}} ({{posts.total}})</p></h3>
  {% for post in posts.items %}
<div class="card border-primary card-primary mb-2">
  <div class="card-header text-white bg-dark text-center">
    <a class="text-white" href="{{ url_for('post',post_id=post.id) }}">{{post.title}}</a>
  </div>
  <div class="card-body">
    <p class="mb-0">
      <p>{{ post.content }}</p>
    </p>
  </div>
</div>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
  {% if page_num %}

    {% if posts.page==page_num %}
      <a href="{{url_for('user_posts',username=user.username,page=page_num)}}" class="btn btn-info mb-4">{{ page_num }}</a>
    {% else %}
      <a href="{{url_for('user_posts',username=user.username,page=page_num)}}" class="btn btn-outline-info mb-4">{{ page_num }}</a>
    {% endif %}

  {% else %}
    ...
  {% endif %}
{% endfor %}

{% endblock content %}